[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppUUID"]
	path = RcppUUID
	url = https://gitlab.com/artemklevtsov/rcppuuid
[submodule "benchr"]
	path = benchr
	url = https://gitlab.com/artemklevtsov/benchr
[submodule "uchardet"]
	path = uchardet
	url = https://gitlab.com/artemklevtsov/uchardet
